header {
    margin: 0;
    width: 100%;
    padding: 0;
    background-color: transparent;
    position: fixed;
    background: rgba(255, 255, 255, 0.2); /* Fundo meio transparente */
    backdrop-filter: blur(60px); /* Aplica o filtro de borrão */
    list-style: none;
    z-index: 9999;
}

.logo {
    width: 120px;
    margin-left: 15px;
    padding: 8px;
    transition: .3s ease;
    cursor: pointer;
}

#a-logo {
    padding: 0;
}

.header nav {
    display: flex;
    justify-content: space-between;
} 

.div-header {
    max-width: 200px;
}

.header ul {
    margin-right: 20px;
    display: flex;
    width: 250px;
    justify-content: space-around;
}

.header ul a {
    margin: auto;
    color: #fff;
    transition: .3s ease;
}

.header ul a:hover, .logo:hover {
    transform: scale(1.07);
}

a {
    color: black;
}

.header .hamburguer {
    display: none;
    cursor: pointer;
    transition: .3s all;
  }
  
.header .hamburguer:hover {
    transform: scale(1.05);
  }
  
.header .line-hamburguer {
    width: 30px;
    height: 3px;
    margin-top: 7px;
    background-color: #fff;
  }
  
.header .hamburger:active .line-hamburger:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.header .hamburger:active .line-hamburger:nth-child(2) {
    transform: scaleX(0);
}

.header .hamburger:active .line-hamburger:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media(max-width: 820px) {

    .header .logo {
        width: 105px;
    }

    .header .hamburguer {
        display: block;
        float: right;
        padding: 10px;
    }

    .header .logo-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header nav {
        flex-direction: column;
    }

    .header nav ul {
        width: 100%;
    }

    .header nav ul a {
        width: 100%;
    }

    .header .div-header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    .header .div-header p {
        font-size: 30px;
        cursor: pointer;
    }

    .header ul {
        padding: 0;
        flex-direction: column;
    }

    /* ul a {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    } */

    .header a {
        text-align: center;
        padding: 20px;
    }

}